{% for section in sectionlist %}
  {% if section.data.imgurl %}
    <section class="wrapper style1">
      <div class="inner">
        <!-- 2 Columns -->
        <div class="flex flex-2">
          <div class="col col1">
            <div class="image {{ section.data.imgshape }} fit">
              {% if section.data.imghref %}
                <a href="{{ section.data.imghref }}" class="link" target="_blank"><img src="{{ section.data.imgurl }}" alt=""/></a>
              {% else %}
                <img src="{{ section.data.imgurl }}" alt=""/>
              {% endif %}
            </div>
          </div>
          <div class="col col2">
            <h3>{{ section.data.heading }}</h3>
            {{ section.templateContent | safe }}
          </div>
        </div>
      </div>
    </section>
    {% else%}
    {{ section.templateContent | safe }}
    {% endif%}
  {% endfor %}
