---
layout: layouts/base.njk
section: page
---

{% set sectionlist = collections.filmsection %}

<section class="wrapper">
	<div class="inner">
    <header class="align-center">
      <h1>{{ title }}</h1>
    </header>

    {{ layoutContent | safe }}
    {% include "components/sectionlist.njk" %}
  </div>
</section>
